<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#000000">
<meta name="description" content="E.A.T. Grocer Database-Home">
<title>E.A.T. Grocer Database</title>
</head>

<body>
<h1>Addresses</h1>
<div id="root">
	<div class="center"> <a href="index.html">Home</a> </div>
	<br>
	<br>
	<div id="functions">
		<label>Search</label>
		<input type="text" placeholder="Customer ID">
		<input type="submit" value="Search">
		<br>
		<br>
	<table border="1" id="Addresses">
	<tr>
		<th>Customer ID</th>
		<th>Address</th>
	</tr>
	<tr>
		<td>0000000001</td>
		<td>123 Ash Street New York, New York US 62346</td>
	</tr>	
	<tr>
		<td>0000000002</td>
		<td>777 Willow Lane Kent, Washington US 89273</td>
	</tr>	
	<tr>
		<td>0000000003</td>
		<td>54323 Lollard Blvd Dayton, Ohio US 87349 </td>
	</tr>
	</table>
	<br>	
	<br>
	
	<div id="functions">
		<label>Add a new Address</label>
		<input type="text" placeholder="ID">
		<input type="text" placeholder="Address">
		<input type="submit" value="Submit">
		<br>
		<br>
		<label>Edit Address</label>
		<input type="text" placeholder="Customer ID">
		<input type="text" placeholder="New Address">
		<input type="submit" value="Submit">
		<br>
	</div>
</div>
</body>

