<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#000000">
<meta name="description" content="E.A.T. Grocer Database-Home">
<title>E.A.T. Grocer Database</title>
</head>

<body>
<h1>Suppliers</h1>
<div id="root">
	<div class="center"> <a href="index.html">Home</a> </div>
	<br>
	<br>
	<div id="functions">
		<label>Search</label>
		<input type="text" placeholder="Supplier">
		<input type="submit" value="Search">
		<br>
		<br>
	</div>
	<table border="1" id="suppliers">
	<tr>
		<th>Supplier Number</th>
		<th>Supplier Name</th>
	</tr>
	<tr>
		<td>0000000001</td>
		<td>Organic Produce</td>
	</tr>	
	<tr>
		<td>0000000002</td>
		<td>Quality Meats</td>
	</tr>	
	<tr>
		<td>0000000003</td>
		<td>Dairy Goods</td>
	</tr>
	</table>
	<br>	
	<br>
	
	<div id="functions">
		<label>Add a New Supplier</label>
		<input type="text" placeholder="Supplier Name">
		<input type="submit" value="Submit">
		<br>
		<br>
		<label>Remove a Supplier</label>
		<input type="text" placeholder="Supplier ID">
		<input type="submit" value="Submit">
		<br>
		<br>
		<label>Edit Supplier</label>
		<input type="text" placeholder="Supplier ID">
		<input type="text" placeholder="New Supplier Name">
		<input type="submit" value="Submit">
		<br>
	</div>
</div>
</body>

